.input-group
    display: flex
    flex-direction: column
    margin-bottom: 15px

    &--has-error
        color: $error-color
        
        .input-field
            border: 1px solid $error-color
