// Import packaged vendor CSS.
@import "vendors.css"
@import "colors"
@import "utilities"
@import "components/input"
@import "components/button"
@import "components/panel"
@import "components/Navbar"

body
    background: #eee
    color: $text-color
    font-size: 14px
    line-height: 1.6
    padding-top: $navbar-height

a
    color: $brand-color
    text-decoration: none
    
    &:hover
        color: darken($brand-color, 10%)
        text-decoration: underline
