.utility
    &-anchor
        display: block
        position: relative
        top: (-1 * $navbar-height) - 10px
        visibility: hidden
        
    &-max-width
        width: 100%
        
    &-no-scroll
        overflow-y: hidden
        padding-right: 15px
